
<div class="card mb-3">
    <img src="../asset/images/saka.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">About Me!</h5>
        <p class="card-text">Just me, myself and I, exploring the universe of unkownment. I have a heart of love and a interest</p>
    </div>
</div>
