@model IEnumerable<FA.JustBlog.Models.Common.Post>

<div class="list-group">
    <h3>@ViewBag.PartialViewTitle</h3>
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Title</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Just as your title and meta description must sell the click, the introduction must sell the read.</p>
        </a>
    }
    </div>

