@model IEnumerable<FA.JustBlog.Models.Common.Post>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var item in Model)
{
<a href="@Url.Action("Details", "Post", new { year = item.PublishedDate.Year, month=item.PublishedDate.Month.ToString("D2"), urlSlug=item.UrlSlug})">@item.Title</a>
}
