@model IEnumerable<FA.JustBlog.Models.Common.Tag>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var item in Model)
{
<span class="badge badge-info">
    <a href="@Url.Action("Details", "Tag", new { id = item.Id})">
        @item.Name
    </a>
</span>
}



